<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title th:text="${title}">Base</title>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
</head>

<body>
	<!--navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" th:href="@{/}" href="#">Smart Contact Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}" href="#">Home<span class="sr-only">(current)</span></a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>-->
				<li class="nav-item">
					<a class="nav-link" href="#"><span th:text="${user.name}"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
				</li>
				<!--<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
						aria-expanded="false">
						Login
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li>-->
			</ul>

		</div>
	</nav>

	<!--End of navbar-->

	<div class="sidebar mt-2">

		<span onclick="toggleSidebar()" class="crossBtn mt-6">&times;</span>

		<a id="home-link" href="#" th:href="@{/user/index}" class="item active-sidebar"><i
				class="fa-solid fa-house"></i> Home</a>
		<a id="contacts-link" href="#" th:href="@{/user/show_contacts/0}" class="item"><i class="fa-regular fa-address-book"></i> View
			Contacts</a>
		<a id="add-link" href="#" th:href="@{/user/add_contact}" class="item"><i class="fa-solid fa-plus"></i> Add Contact</a>
		<a id="profile-link" href="#" th:href="@{/user/profile}" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
		<a id="settings-link" href="#" th:href="@{/user/settings}" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
		<a id="logout-link" href="#" th:href="@{/logout}" class="item"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
		<div class="divider"></div>

	</div>

	<!--End sidebar-->

	<div class="content mt-4">

		<i onclick="toggleSidebar()" class="fas fa-bars ml-3 menu-open mt-5"></i>

		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-' + session.message.type}" class="alert text-center" role="alert">
				<span th:text="${session.message.content}"></span>
				<!--<div th:if="${session.message.type.equals('success')}">
					<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
				</div>-->
			</div>

		</div>


		<!--Content to be replaced-->
		<div th:replace="${content}"></div>
		<!--End of content to be replaced-->

		<!--Remove message from session-->
		<div th:if="${session.message}" class="container">
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		</div>
		<!--Removing message from session is complete-->

	</div>

	<!--End of content-->

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function deleteContact(cId) {
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: "btn btn-success",
					cancelButton: "btn btn-danger"
				},
				buttonsStyling: false
			});
			swalWithBootstrapButtons.fire({
				title: "Are you sure you want to delete from your contacts?",
				text: "You won't be able to revert this!",
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: "Yes, delete!",
				cancelButtonText: "No, cancel!",
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
					window.location = "/user/delete/" + cId + "/0";
					swalWithBootstrapButtons.fire({
						title: "Deleted!",
						text: "Your contact has been deleted.",
						icon: "success"
					});
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire({
						title: "Cancelled",
						text: "Your contact is safe :)",
						icon: "error"
					});
				}
			});
		}
	</script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>

</html>