<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>

<body>
	<section>
		<div class="sidenav">
			<div class="login-main-text text-center">
				<h2>Smart Contact Manager</h2>
				<p>Login to continue your smart journey</p>
			</div>
		</div>
		<div style="height: 600px;" class="main text-center col-md-6 col-sm-12 ">
			<div class="card-middle container ml-4 justify-content-center">
				<div class="card d-flex align-self-center ">
					<div class="card-body text-center align-items-center">
						<h2>Your password has
							been updated successfully</h2>
						<h3>Click here to login</h3>
						<a th:href="@{/}">Login</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>